body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 200px 100px;
    grid-template-columns: 1fr 150px;
    justify-items: center;
    align-items: center;
}

#daneo {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    background: #eeeeee;
    width: 1250px;
    height: 500px;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

#input {
    grid-column: 1;
    grid-row: 2;
    width: 750px;
    height: 100px;
    background: #eeeeee;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-size: 50px;
}

#my {
    display: flex;
    grid-column: 1;
    grid-row: 3;
    gap: 50px;
}
#my > span {
    font-size: 50px;
}
#correct {
    color: #00ff00;
}
#correct::before {
    content: "정답: ";
}
#skip {
    color: #ff0000;
}
#skip::before {
    content: "스킵: ";
}
#hint {
    color: #d4d419;
}
#hint::before {
    content: "힌트: ";
}
#correctPercent {
    color: #0000ff;
}
#correctPercent::before {
    content: "정답률: ";
}

#right {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 3;
}
#right > button {
    width: 150px;
    height: 75px;
    font-size: 50px;
    background: none;
}
#right > button:hover {
    background: #00000022;
}
#right > button:active {
    background: #00000088;
}
#remaining {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 20px 0;
}