@font-face {
  font-family: "Warhaven";
  font-weight: bold;
  src: url("./assets/fonts/Warhaven_Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://wallpaperset.com/w/full/9/3/2/200612.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
